<div class="container is-fluid">
    <div class="columns">
        <div class="notification" *ngIf="error">
            {{error}}
        </div>
    </div>
    <div class="columns" *ngFor="let society of socities">
        <div class="column is-four-fifths">
            {{society.name}}
        </div>
        <div class="column">
          <button type="submit" class="button is-primary">Edit</button>
        </div>
        <div class="column">
            <button type="submit" class="button is-danger">Delete</button>
        </div>
      </div>
</div>