<div class="container is-fluid">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="is-active"><a href="#">Documentation</a></li>
        </ul>
      </nav>
    <h1 id="gettingStarted">Getting started!</h1>
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
          <div class="tile is-child box">
            <p class="title">Overview</p>
            <p class="justify-text">Welcome to society management! This app is designed to help you manage you society. We have designed this applications to help solve your day to day problems.</p>
          </div>
          <div class="tile is-child box">
            <p class="title">Features</p>
            <ul>
                <li>Articles</li>
                <li>Notifications</li>
                <li>Organize meetings</li>
                <li>MOM</li>
                <li>Home delivery management</li>
                <li>
                    Transaction details
                    <ol class="marginfor-list">
                        <li>Monthly maintainence collection details</li>
                        <li>Event organizing details</li>
                        <li>Expenditure details</li>
                    </ol>
                </li>
            </ul>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">Let's get started!</p>
            <p>Step 1: SignUp to register your society</p>
            <p>
                Step 2: Need to choose the category
            </p>
                <ol class="marginfor-list">
                    <li>
                        Gated community
                    </li>
                    <li>
                        Group of apartments
                    </li>
                    <li>
                        Apartments
                    </li>
                </ol>
            <p>Step 3: Configure your society details. This process is onetime and a lengthy process don't worry we will be there to guide you</p>
            <p>Step 4: Make sure your society members register for the app</p>
            <p>Step 5: Start accessing society management</p>
          </div>
        </div>
      </div>
</div>